/* Custom CSS Variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
}

/* General Styles */
body {
    background-color: var(--background-color);
    color: var(--secondary-color);
}

/* Header Styles */
header.jumbotron {
    background-color: var(--primary-color);
    color: white;
}

/* Navbar Styles */
.navbar-brand, .nav-link {
    color: var(--secondary-color) !important;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: white;
}
